spring:
  application:
    name: mod-entities-links
  datasource:
    hikari:
      connectionTimeout: ${DB_CONNECTION_TIMEOUT:30000}
      idleTimeout: ${DB_IDLE_TIMEOUT:600000}
      keepaliveTime: ${DB_KEEPALIVE_TIME:0}
      maxLifetime: ${DB_MAX_LIFETIME:1800000}
      validationTimeout: ${DB_VALIDATION_TIMEOUT:5000}
      maximumPoolSize: ${DB_MAXPOOLSIZE:10}
      minimumIdle: ${DB_MINIMUM_IDLE:10}
      initializationFailTimeout: ${DB_INITIALIZATION_FAIL_TIMEOUT:30000}
      leakDetectionThreshold: ${DB_LEAK_DETECTION_THRESHOLD:60000}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
    password: ${DB_PASSWORD:folio_admin}
    username: ${DB_USERNAME:folio_admin}
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
  jpa:
    properties:
      hibernate:
        ddl-auto: validate
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
  jackson:
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false
      accept-single-value-as-array: true
  kafka:
    bootstrap-servers: ${KAFKA_HOST:kafka}:${KAFKA_PORT:9092}
    consumer:
      max-poll-records: ${KAFKA_CONSUMER_MAX_POLL_RECORDS:50}
    security:
      protocol: ${KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    ssl:
      key-store-password: ${KAFKA_SSL_KEYSTORE_PASSWORD:}
      key-store-location: ${KAFKA_SSL_KEYSTORE_LOCATION:}
      trust-store-password: ${KAFKA_SSL_TRUSTSTORE_PASSWORD:}
      trust-store-location: ${KAFKA_SSL_TRUSTSTORE_LOCATION:}
    producer:
      acks: all
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
        retries: 5
  cache:
    cache-names:
      - authority-mapping-rules-cache
      - authority-linking-rules-cache
      - consortium-tenants-cache
      - consortium-central-tenant-cache
    caffeine:
      spec: maximumSize=500,expireAfterWrite=3600s
  sql:
    init:
      continue-on-error: true
  cloud:
    openfeign:
      okhttp:
        enabled: true
folio:
  environment: ${ENV:folio}
  okapi-url: ${OKAPI_URL:http://localhost:9130}
  system-user:
    username: ${SYSTEM_USER_USERNAME:mod-entities-links}
    password: ${SYSTEM_USER_PASSWORD}
    lastname: Automated linking update
    permissionsFilePath: permissions/mod-entities-links-permissions.csv
  kafka:
    topics:
      - name: authorities.authority
        numPartitions: ${KAFKA_INSTANCE_AUTHORITY_TOPIC_PARTITIONS:50}
        replicationFactor: ${KAFKA_INSTANCE_AUTHORITY_TOPIC_REPLICATION_FACTOR:}
      - name: links.instance-authority
        numPartitions: ${KAFKA_INSTANCE_AUTHORITY_TOPIC_PARTITIONS:10}
        replicationFactor: ${KAFKA_INSTANCE_AUTHORITY_TOPIC_REPLICATION_FACTOR:}
      - name: links.instance-authority-stats
        numPartitions: ${KAFKA_INSTANCE_AUTHORITY_STATS_TOPIC_PARTITIONS:10}
        replicationFactor: ${KAFKA_INSTANCE_AUTHORITY_STATS_TOPIC_REPLICATION_FACTOR:}
    listener:
      authority:
        concurrency: ${KAFKA_AUTHORITIES_CONSUMER_CONCURRENCY:1}
        topic-pattern: (${folio.environment}\.)(.*\.)authorities\.authority
        group-id: ${folio.environment}-mod-entities-links-authorities-group
      instance-authority-stats:
        concurrency: ${KAFKA_INSTANCE_AUTHORITY_STATS_CONSUMER_CONCURRENCY:1}
        topic-pattern: (${folio.environment}\.)(.*\.)links\.instance-authority-stats
        group-id: ${folio.environment}-mod-entities-links-stats-group
  instance-authority:
    change:
      numPartitions: ${KAFKA_INSTANCE_AUTHORITY_CHANGE_PARTITIONS:100}
  instance-storage:
    batch-size: ${INSTANCE_STORAGE_QUERY_BATCH_SIZE:50}
  authority-archive:
    expire:
      retentionPeriodInDays: ${AUTHORITY_ARCHIVES_EXPIRATION_PERIOD:7}

  retry:
    enabled: true
  tenant:
    validation:
      enabled: true
  logging:
    request:
      enabled: true
    feign:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: info,health,liquibase,threaddump,heapdump,loggers
      base-path: /admin
  endpoint:
    loggers:
      enabled: true
server.port: 8081
